@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav i{
   color: #FFF;
   font-size: 22px;
   cursor: pointer;
}
.logo h2{
  font-family: 'Bebas Neue', cursive;
}
