<div *ngIf="!isLoad">
  <div class="col-12 bg-transparent vh-100">
    <div  class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
</div>

<div *ngIf="isLoad">
  <app-navbar (valueSearch)="onSearch($event)"></app-navbar>
  <div *ngIf="isSearch" class="container my-5">
    <div class="row">
      <div *ngFor='let search of trendingSearch' class="col-md-3 my-3">
        <div>
          <a [routerLink]="['/persondetails',search.id]">
            <img *ngIf="imgUrl+this.search?.profile_path != 'https://image.tmdb.org/t/p/w500null'" class="w-100"
              [src]='imgUrl+search?.profile_path' [alt]="search.name">
            <img *ngIf="imgUrl+this.search?.profile_path == 'https://image.tmdb.org/t/p/w500null'" class="w-100 h-100"
              src="../../assets/image/no-image-available.png">
            <h3 class="my-2 h6 text-center">{{search.name}}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isSearch" class="container">
    <div class="movies my-5">
      <div class="row">
        <!-- profile_path -->
        <div *ngFor='let person of trendingPerson' class="col-md-3 my-3 h-100">
          <a [routerLink]="['/persondetails',person.id]">

            <img *ngIf="imgUrl+this.person?.profile_path != 'https://image.tmdb.org/t/p/w500null'" class="w-100"
              [src]='imgUrl+person?.profile_path' [alt]="person.title">
            <img *ngIf="imgUrl+this.person?.profile_path == 'https://image.tmdb.org/t/p/w500null'" class="w-100 h-100"
              src="../../assets/image/no-image-available.png">
            <h3 class="my-2 h6 text-center">{{person.name}}</h3>
          </a>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number-1)"><i class="fas fa-backward"></i></a></li>
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number=1)">1</a></li>
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number=2)">2</a></li>
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number=3)">3</a></li>
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number=4)">4</a></li>
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number=5)">5</a></li>
        <li class="page-item"><a class="bg-transparent text-info px-3 border-dark page-link"
            (click)="getPerson(number+1)"><i class="fas fa-forward"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
